.Footer-Main{
    background-color: black;
    color: #ffffff94;;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    font-family: "Roboto", sans-serif;
    padding-right: 2rem;
}
.developer{
    font-size: 1.8rem;
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    gap: 0.5rem;
}
.developer h4{
    font-weight: 100;
    font-family: "Roboto", sans-serif;
}
.developer h4 a{
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #ffffff94;
}
.Footer-Main h2{
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #ffffff94;
}
.social{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 0.7rem;
    align-items: baseline;
    font-size: 2rem;
}
.media {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.media .Icon{
    font-size: 2.5rem;
}
.media a{
    color: #ffffff94;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
@media only screen and (width<= 600px){
    .Footer-Main {
        background-color: black;
        color: #ffffff94;
        padding-top: 3rem;
        padding-bottom: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0rem;
        gap: 4rem;
        padding-right: 0rem;
    }
    .developer {
       display: none;
    }
    .Footer-Main h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .social {
        display: none;

    }
    .media .Icon {
        display: none;
    }
}